@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;600&display=swap");
:root {
  --lightColor: #edf6ff;
  --darkColor: #437fc7;
  --backgroundColor: #e8f4f8;
  --textColor: var(--lightColor);
  --cardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --cardHoverShadow: 5px 10px 18px var(--darkColor);
  --scrollToTopShadow: 0 8px 6px -6px var(--darkColor);
  --transition: 0.3s ease-in-out all;
  --bodyFont: "Merriweather", serif;
  --spacing: 0.1rem;
  --cardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --cardHoverShadow: 5px 10px 18px var(--darkColor);

  /* fonts */
  --mainFont: "Expletus Sans", cursive;
}

body {
  background-color: var(--lightColor);
}

a:link {
  text-decoration: none;
}

.navbar {
  background-color: var(--darkColor);
}
.main-font {
  font-family: var(--mainFont);
}
.header {
  text-align: center;
  padding: 10px;
}
.icon {
  padding: 5px;
  font-size: 25px;
}
.spacex-icon {
  font-size: 80px;
  left: 0;
  bottom: 0;
  position: relative;
  color: var(--darkColor);
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  margin-top: 25px;
}

.page-btn {
  width: 1.5rem;
  height: 1.5rem;
  border-color: var(--darkColor);
  border-radius: 3.5px;
  cursor: pointer;
  margin: 0.1rem;
  padding: 0.1rem;
  transition: var(--transition);
}
.active-btn {
  background: var(--darkColor);
}
.prev-btn,
.next-btn {
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  color: var(--darkColor);
}

.card {
  height: "100%";
  display: "flex";
  flex-direction: "column";
  background-color: var(--lightColor);
  color: var(--darkColor);
  transition: var(--transition);
  box-shadow: var(--cardShadow);
  border-radius: 4px;
}
.card:hover {
  box-shadow: var(--cardHoverShadow);
  /* transform: scale(1.01); */
  transform: translate(0, -10px);
}
.card:active {
  transform: scale(1.01) translateY(0.2rem);
}
.heading-info {
  color: var(--darkColor);
}
.footer {
  margin-top: 50px;
}
